/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color : white;
  --background-color: rgb(44, 44, 44);
}
.darkMode{
  background-color: var(--background-color);
  color: var(--color);
}

body {
 
}
.activeBox:hover{
  cursor: pointer;
  background-color: dimgray;
  color: white;
  transition: 0.5s;
}

#clock {
  font-size: x-large;
  border: solid 5px grey;
  border-radius: 10px;
  width: 400px;
  display: flex;
  height: 80px;
  display: flex;
  justify-content: space-around;
}
.clockBox {
  font-family: "Poiret One", cursive;
  padding: 10px;
  font-weight: 900;
}



.divBox {
  font-family: "Poiret One", cursive;
  font-weight: 900;
  font-size: x-large;
  border: solid 5px grey;
  border-radius: 10px;
  font-weight: 700;
  
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
}
.buttBox{
  background-color: greenyellow;
  font-family: "Poiret One", cursive;
  font-size: large;
  font-weight: 900;
  margin: 5px;
  padding: 5px;
  border-radius: 7px;
}
.buttBox:hover{
  cursor: pointer;
  background-color: forestgreen;
  transition: 0.5s;
}
#timerBox{
  font-size: xx-large;
}
