/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color : white;
  --background-color: rgb(44, 44, 44);
}
.darkMode{
  background-color: var(--background-color);
  color: var(--color);
}

body {
 
}
.activeBox:hover{
  cursor: pointer;
  background-color: dimgray;
  color: white;
  transition: 0.5s;
}

#clock {
  
}
.clockBox {
  font-family: 'Roboto Mono', monospace;
  font-size: x-large;
}

.timerHeader{
  background-color: var(--background-color);
  color: var(--color);
  font-size: x-large;
}

.glow{
  -moz-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
}

.divBox {
  font-family: "Poiret One", cursive;
  font-weight: 900;
  font-size: x-large;
  border: solid 5px grey;
  border-radius: 10px;
  font-weight: 700;
  
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
}
.buttBox{
  background-color: greenyellow;
  font-family: "Poiret One", cursive;
  font-size: large;
  font-weight: 900;
  margin: 5px;
  padding: 5px;
  border-radius: 7px;
}
.buttBox:hover{
  cursor: pointer;
  background-color: forestgreen;
  transition: 0.5s;
}
#timerBox{
  font-size: xx-large;
}

#images{
  width: 100vw;
  height: 30vh;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.picture{
  overflow: hidden;
  height: 75vh;
}

.imgAnimate{
  animation: fadeIn 30s ease-in-out; 
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 0.01;
  }
  50%{
    transform: scale(1.02);
    opacity: 0.5;
    filter: saturate(1.02);
  }
  100%{
    transform: scale(1);
    opacity: 1;
    filter: saturate(1.1);
  }
}
#container{
  min-height: 90vh;
}
#footerSpace{
  height: 100px;
}
footer{
  clear: both;
  padding: 10px;
  font-family: 'Audiowide', cursive;
  position: relative;
  height: 100px;
  width: 100vw;
  margin-top: -100px;
  background-color: dimgray;
}